{
  "name": "Build",
  "on": {
    "workflow_dispatch": null
  },
  "jobs": {
    "build-source": {
      "runs-on": "ubuntu-24.04",
      "steps": [
        {
          "uses": "actions/checkout@v4",
          "with": {
            "submodules": "recursive"
          }
        },
        {
          "name": "Setup Python",
          "uses": "actions/setup-python@v5",
          "with": {
            "python-version": "3.13",
            "architecture": "x64"
          }
        },
        {
          "name": "Prepare",
          "run": "python -m pip install --upgrade pip\npip3 install --upgrade wheel\npip3 install --upgrade setuptools\n"
        },
        {
          "name": "Build",
          "run": "python setup.py sdist\n"
        },
        {
          "name": "Upload artifact",
          "uses": "actions/upload-artifact@v4",
          "with": {
            "name": "wheel-source",
            "path": "dist/*"
          }
        }
      ]
    },
    "build-linux-x86-64": {
      "runs-on": "ubuntu-22.04",
      "steps": [
        {
          "uses": "actions/checkout@v4",
          "with": {
            "submodules": "recursive"
          }
        },
        {
          "name": "Setup Python",
          "uses": "actions/setup-python@v5",
          "with": {
            "python-version": "3.13",
            "architecture": "x64"
          }
        },
        {
          "name": "Prepare",
          "run": "python -m pip install --upgrade pip\npip3 install --upgrade wheel\npip3 install --upgrade setuptools\n"
        },
        {
          "name": "Build wheels",
          "run": "./bdist_for_all\n"
        },
        {
          "name": "Upload artifact wheel",
          "uses": "actions/upload-artifact@v4",
          "with": {
            "name": "wheel-linux-x86",
            "path": "dist/*"
          }
        }
      ]
    },
    "build-linux-other": {
      "runs-on": "ubuntu-22.04",
      "strategy": {
        "matrix": {
          "arch": [
            "aarch64",
            "armv7"
          ]
        }
      },
      "steps": [
        {
          "uses": "actions/checkout@v4",
          "with": {
            "submodules": "recursive"
          }
        },
        {
          "uses": "uraimo/run-on-arch-action@v2",
          "with": {
            "arch": "${{ matrix.arch }}",
            "distro": "ubuntu22.04",
            "githubToken": "${{ github.token }}",
            "setup": "mkdir -p \"${PWD}/artifacts\"\n",
            "dockerRunArgs": "--volume \"${PWD}/artifacts:/artifacts\"\n",
            "shell": "/bin/bash",
            "run": "apt-get update -q -y\napt-get install -q -y git python3 python3-pip gcc make\npython3 -m pip install --upgrade pip\npython3 -m pip install wheel --upgrade\npython3 -m pip install setuptools --upgrade\n./bdist_for_all\n"
          }
        },
        {
          "name": "Upload artifact wheel",
          "uses": "actions/upload-artifact@v4",
          "with": {
            "name": "wheel-linux-${{ matrix.arch }}",
            "path": "dist/*"
          }
        }
      ]
    },
    "build-windows": {
      "runs-on": "windows-2025",
      "defaults": {
        "run": {
          "shell": "msys2 {0}"
        }
      },
      "steps": [
        {
          "uses": "msys2/setup-msys2@v2",
          "with": {
            "msystem": "ucrt64",
            "update": true,
            "install": "mingw-w64-ucrt-x86_64-gcc mingw-w64-ucrt-x86_64-libgnurx make python python-pip"
          }
        },
        {
          "uses": "actions/checkout@v4",
          "with": {
            "submodules": "recursive"
          }
        },
        {
          "name": "Prepare",
          "run": "python -m pip install --break-system-packages --upgrade pip\npython -m pip install --break-system-packages --upgrade wheel\npython -m pip install --break-system-packages --upgrade setuptools\n"
        },
        {
          "name": "Download strptime",
          "run": "curl 'https://raw.githubusercontent.com/msys2/MINGW-packages/refs/heads/master/mingw-w64-libkml/strptime.c' > reliq-c/src/strptime.c\n"
        },
        {
          "name": "Build wheels",
          "run": "./bdist_for_all\n"
        },
        {
          "name": "Upload artifact wheel",
          "uses": "actions/upload-artifact@v4",
          "with": {
            "name": "wheel-windows",
            "path": "dist/*"
          }
        }
      ]
    },
    "build-macos": {
      "runs-on": "macos-${{ matrix.os }}",
      "strategy": {
        "matrix": {
          "os": [
            "14",
            "15"
          ]
        }
      },
      "steps": [
        {
          "uses": "actions/checkout@v4",
          "with": {
            "submodules": "recursive"
          }
        },
        {
          "name": "Setup Python",
          "uses": "actions/setup-python@v5",
          "with": {
            "python-version": "3.13",
          }
        },
        {
          "name": "Prepare",
          "run": "python -m pip install --upgrade pip\npip3 install --upgrade wheel\npip3 install --upgrade setuptools\n"
        },
        {
          "name": "Build wheels",
          "run": "./bdist_for_all\n"
        },
        {
          "name": "Upload artifact wheel",
          "uses": "actions/upload-artifact@v4",
          "with": {
            "name": "wheel-macos-${{ matrix.os }}",
            "path": "dist/*"
          }
        }
      ]
    }
  }
}
